@charset "UTF-8";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif; }
body {
 background:rgba(250,250,250,.5) url(../img/city2.jpg) no-repeat center center fixed;
  background-size: cover;
}
.a {
  text-decoration: none;
  color: white;
  display: block;
  padding: 10px;
  font-size: 1.4em;
  text-transform: uppercase;
  font-family: sans-serif;
  font-weight: 700; }

.clear-fix:after {
  content: "";
  display: block;
  clear: both;
  height: 0; }

#pixie {
  position: fixed; }

h1, .athor {
  background: #fff;
  position: relative;
  z-index: 100; 
  border-radius: 3px;
  animation: borderColor 8s infinite;
  -webkit-animation: borderColor 8s infinite;
}

header, h1, .h1, .athor {
  max-width: 600px;
  margin: auto; }

.wrapper {
  padding: 20px 0;
}

/*  HEADER	 */
header {
  background: url(../img/headerBG.jpg) no-repeat 0 0;
  background-size: cover;
  height: 100%;
  height: 100vh;
  width: 300px;
  text-align: center;
  box-shadow: 0 0 20px 1px black;
  position: fixed;
  top: 0; }
/*подсветка названия страницы*/
.active-a{ animation: active 8s infinite ease; -webkit-animation: active 8s infinite ease; }
.logo {
  text-align: center;
  background: rgba(220,220,220, .7);
  padding: 20px; }

.nav {
  padding: 10%; }
  .nav li {
    list-style: none;
    display: block;
    margin-top: 10px; }
    .nav li a, .athor .a {
      padding-left: 20%;
      position: relative;
      color: #d1d1d9;
      text-decoration: none;
      text-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
      padding: .5em 1em;
      outline: none;
      border-radius: 3px;
      background: #089CF8;
      box-shadow: 0 1px rgba(255, 255, 255, 0.2) inset, 0 3px 5px rgba(0, 1, 6, 0.5), 0 0 1px 1px rgba(0, 1, 6, 0.2);
      transition: .2s ease-in-out; 
      -webkit-transition: all .2s ease-in-out; }
      .nav li a:hover:not(:active), .athor .a:hover:not(:active) {
        text-shadow: 1px 1px 3px black;
        box-shadow: 0 0 5px 1px grey, 0 1px rgba(255, 255, 255, 0.2) inset, 0 3px 5px rgba(0, 1, 6, 0.5), 0 0 1px 1px rgba(0, 1, 6, 0.2); }
      .nav li a:active, .athor .a:active {
        top: 1px;
        background: linear-gradient(#4c4d52, #38393e) #4c4d52;
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5) inset, 0 2px 3px rgba(0, 0, 0, 0.5) inset, 0 1px 1px rgba(255, 255, 255, 0.1); }

/*.MAIN*/
.h1 {
  position: relative;
  height: 320px;
  overflow: hidden; }

video {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.5; }

h1 {
  padding: 10px 5%;
  color: #089CF8;
  text-shadow: 1px 1px 1px #fff;
  word-spacing: 10px;
  text-align: center;
  font-size: 3.5em;
  font-weight: 300;
  background: inherit;
  position: absolute !important;
  top: 55px;
  left: 0;
  font-family: 'Monoton', cursive; }

.main {
  padding-left: 300px; }

/* Переворачивающиеся плитки */

.tiles {
  margin: auto;
  width: 610px;
  height: 610px;
  position: relative;
  perspective: 3000px;
  background: inherit;
   }

.tile {
  border: 5px solid transparent;
  transition: 0.6s;
  webkit-transition:all 0.6s;
}
   .tile:hover > div{
        animation: borderColor 6s infinite;
       -webkit-animation: borderColor 6s infinite;
   }
   .tile:hover div .demo {
      opacity: 1;
      bottom: 5px;
   }

.tiles .tile:first-child {
  width: 152.5px;
  height: 152.5px;
  position: absolute;
  top: 0;
  left: 0; }
.tiles .tile:first-child .img {
  background: url(../img/min/gallery1.png) center;
  background-size: cover;
}

.tiles .tile:nth-child(2) {
  width: 152.5px;
  height: 152.5px;
  position: absolute;
  top: 152.5px;
  left: 0; }
  .tiles .tile:nth-child(2) .img {
    background: url(../img/min/gallery2.png) center;
    background-size: cover;
  }

.tiles .tile:nth-child(3) {
  width: 152.5px;
  height: 305px;
  position: absolute;
  top: 0;
  left: 152.5px; }
  .tiles .tile:nth-child(3) .img {
    background: url(../img/min/gallery3.jpg) no-repeat center;
    background-size: cover;
  }

.tiles .tile:nth-child(4) {
  width: 305px;
  height: 305px;
  position: absolute;
  left: 0;
  bottom: 0; }
  .tiles .tile:nth-child(4) .img {
    background: url(../img/min/gallery4.png) no-repeat 80% center;
    background-size: cover;
  }

.tiles .tile:last-child {
  width: 305px;
  height: 610px;
  position: absolute;
  right: 0;
  top: 0; }
  .tiles .tile:last-child .img {
    background: url(../img/min/gallery5.jpg) center;
    background-size: cover;
  }

.back_img {
  width: 100%;
  height: 100%;
  background: #089CF8;
  box-shadow: 1px 0px 8px 4px rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s linear;
  -webkit-transition:all 0.5s linear;
  border-radius: 3px; }

.tile > .img {
  height: 100%;
  display: block;
  position: relative;
 /* background: url(..//img/gallery.png) no-repeat center;*/
  background-size: cover;
  transition: 0.5s linear;
  -webkit-transition:all 0.5s linear;
  overflow: hidden;
  backface-visibility: hidden;
  border-radius: 3px; }

  /*DEMO ссылка на простотр демо сайта*/
  .demo {
    display: block;
    width: 100%;
    text-decoration: none;
    padding: 10px 0;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    background: rgba(200,200,200, .7);
    position: absolute;
    cursor: pointer;
    bottom: -30px;
    left: 0;
    font-size: 16px;
    z-index: 999;
    opacity: 0;
    transition: 1s;
    -webkit-transition: all 1s;
  }
  .demo:hover {
    text-decoration: underline;
    background: rgba(180,180,180, .8);
  }

/*ОБО МНЕ .athor*/
.athor {
  margin-top: 2%;
  padding: 20px 50px; }

.h2 {
  line-height: 2em; }

.myPhoto {
  height: 200px;
  float: left;
  padding: 20px; }

/* кнопка заказать */
.athor .a {
  margin-top: 20px;
  text-align: center;    
 }

 @keyframes borderColor{
  0%{
     box-shadow: 0 0 15px 4px #089CF8;
  }
  50%{
     box-shadow: 0 0 12px 2px #f55203;
  }
  100% {
    box-shadow: 0 0 15px 4px #089CF8;
  }
}
@-webkit-keyframes borderColor{
  0%{
     box-shadow: 0 0 13px 3px #089CF8;
  }
  50%{
     box-shadow: 0 0 10px 1px #f55203;
  }
  100% {
    box-shadow: 0 0 13px 3px #089CF8;
  }
}
 @keyframes active{
  0%{
     background: #089CF8;
  }
  50%{
     background: #f55203;
  }
  100% {
    background: #089CF8;
  }
}
@-webkit-keyframes active{
  0%{
     background: #089CF8;
  }
  50%{
     background: #f55203;
  }
  100% {
    background: #089CF8;
  }
}

@media screen and (max-width: 910px) {
    header {
      position: static;
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-wrap: wrap;
      width: 100%;
      height: auto;
      background: transparent;
      padding: 0;
   }
   .main {
    padding-left: 0;
   }
   .logo {
     display: inline-block;
     vertical-align: middle;
     padding: 5px;
   }
   .nav {
     padding: 0;
     margin: 10px;
     display: inline-block;
     vertical-align: middle;
     text-align: center;
   }
   .nav ul li {
      display: inline-block;
      padding: 0;
      margin: 0;
   }
   .nav ul li a {
     padding: 10px;
     font-size: 18px;

   }
}
@media screen and (max-width: 628px) {
    h1{
      font-size: 2.5em;
      top: 20px;
    }
    .tiles {
      width: 305px;
    }
    .tiles .tile:last-child {
      top: 610px; 
    }
    .nav {
      width: 100%;
    }
    .nav li a {
      font-size: 16px !important;
      padding: 8px !important;
      font-weight: 300;
    }
}
